---
import { Image } from "astro:assets";
import deathKnightIcon from "src/assets/death-knight.jpeg";
import ColorModeToggle from "./ColorModeToggle.astro";
---

<nav class="flex gap-4 px-6 py-2 backdrop-blur-lg fixed">
  <Image
    class="ease-linear duration-100 rounded-2xl hover:rotate-x-15 hover:rotate-y-30 hover:cursor-pointer"
    src={deathKnightIcon}
    alt="FrostDevKnight"
    width="44"
    height="44"
  />
  <a>Works</a>
  <a>Posts</a>
  <a>Contact</a>
  <a>Source</a>
  <ColorModeToggle />
</nav>
