---
import "../styles/global.css";
import Navbar from "@/components/Navbar.astro";
interface Props {
  title: string;
}
// Empoleon S
// Charizard X
// Ash Greninja A
// Xerneas A
// Corviknight A
// Ceruledge B
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.jpeg" />
    <meta name="generator" content={Astro.generator} />
    <title>
      {title}
    </title>
  </head>
  <body class="bg-primary text-neutral-50">
    <Navbar />
    <div class="pt-20 px-6">
      <slot />
    </div>
  </body>
</html>
<style is:global>
  html {
    font-family: system-ui, sans-serif;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
